page-equipmentlogscreen {

  .scroll-content {

    overflow-y: hidden;
    background: none;

    .scroll-wrapper {
      width: 100%;
      height: 85%;
      padding-bottom: 10px;
    }

    .weight-fixed {
      padding-left: 15px;
      padding-right: 15px;
      margin-top: 20px;

      .label {
        text-align: center;
      }

      .username-input {
        background-color: lightgray;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 15px;
      }
    }

    .weight-wrapper {
      width: 100%;
      text-align: center;
    }
  }
}
